<div>
    <ol>
        <li>Carlsbad Flower Ranunculus Fields</li>
        <li>Midway</li>
        <li>San Diego Zoo</li>
        <li>Zoo Safari Park</li>
        <li>Coronado Island</li>
        <li>La Jolla Sea Caves</li>
        <li>Whale Watching</li>
        <li>Stone Brewery</li>
        <li>Torrey Pines Hiking</li>
        <li>SeaWorld</li>
    </ol>
    </div>
<%= link_to 'Back to Main Page', '/' %>
