<div>
    <h1> Welcome! </h1>
    <%= link_to 'Click for a Holiday joke.','/question' %>
    <br />
    <br />
    <br />
    <%= link_to 'Click for San Diego travel recommendations.','/places' %>
    <br />
    <br />
    <br />
    <%= link_to 'Click for TV recommendations.','/television' %>
    <br />
    <br />
    <br />
    <h3>Developers/ Authors: Morganne & Kristen</h3>
</div>
