<div>
    <ol>
        <li>Friends</li>
        <li>How I Met Your Mother</li>
        <li>New Girl</li>
        <li>Seinfeld</li>
        <li>The Mandalorian</li>
        <li>True Detective</li>
        <li>Jane the Virgin</li>
        <li>Blackish</li>
        <li>The Bachelor</li>
        <li>The Voice</li>
        </ol>
    </div>
<%= link_to 'Back to Main Page', '/' %>
